<a href="https://colab.research.google.com/github/tbsworuk/test/blob/master/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables
## Assignment

`Try this` examples

Try running the following scripts with different values of `numberWidgets`:

In [0]:
number_widgets = 1
sum = number_widgets + 3
print(sum)

4

In [0]:
number_widgets = 1
sum = number_widgets + 3
too_many = sum > 10
print(too_many)

How do these two scripts differ? (Pay attention to the quotes)

In [0]:
first_number = 325
second_number = 145
together = first_number + second_number
print(together)
print(type(together))

In [0]:
first_number = '325'
second_number = '145'
together = first_number + second_number
print(together)
print(type(together))

# Functions
# Built-in functions

`Try this` examples

Try the following script with different values for the numbers:

In [0]:
first_number = 50
second_number = 67
biggest = max(first_number, second_number, 100)
print(biggest)

In the following script, try changing the value of `name`:

In [0]:
name = 'Steve'
how_long = len(name)
print('Your name is '+ name + '. It is: ')
print(how_long)
print('characters long.')

## Home-made function example

In [0]:
def multiplication(first_number, second_number):
    answer = first_number * second_number
    return answer

print(multiplication(3,5))

Here is a variation on the previous script:

In [0]:
def multiplication(first_number, second_number):
    answer = first_number * second_number
    return answer

num1 = 3
num2 = 5
answer = multiplication(num1,num2)
print(answer)

# Modules and Packages

Here is a fun example using the standard random module:

In [0]:
import random

day_list = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
x = random.choice(day_list)

print(x)

Here’s another example you can try:

In [0]:
import math as m

number = 113
square_root = m.sqrt(number)
print(square_root)
integer = m.floor(square_root)
print(integer)

# Keyboard Input

Input function example:

In [0]:
name = input("What's your name? ")
print('Hello ' + name + '! How are you?')

In [0]:
# import the math module  
import math  

integer = int(input("What's the number? "))
print('The square root is:')
print(math.sqrt(integer))

# Conditional execution

## if statement

Example:

In [0]:
name = 'Fred Flintstone'
is_micky = name == 'Mickey Mouse'
print(name)
print(is_micky)

if is_micky:
    print('You are a Disney character')
print('That is all!')

`Try this` example:

In [0]:
name = input('What is the name of the character? ')
is_micky = name == 'Mickey Mouse'
print(name)
print(is_micky)

if is_micky:
    print('You are a Disney character')
print('That is all!')

Previous example with simplified code

In [0]:
name = input('What is the name of the character? ')
print(name)

if name == 'Mickey Mouse':
    print('You are a Disney character')
print('That is all!')

## if … else …

Example:

In [0]:
name = input('What is the name of the character? ')
print(name)

if name == 'Mickey Mouse':
    print('You are a Disney character')
    print('You are almost ready to go out of copyright!')
else:
    print('You are not a Disney character')
print('That is all?')

## if … elif … else …

Example:

In [0]:
name = input('What is the name of the character? ')
print(name)

if name == 'Mickey Mouse':
    print('You are a Disney character')
    print('You are a mouse')
elif name == 'Donald Duck':
    print('You are a Disney character')
    print('You are not a mouse')
elif name == 'Minnie Mouse':
    print('You are a Disney character')
    print('Your boyfriend is getting old')
else:
    print('You are not a Disney character')
print("That's all folks!")